@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b212c;
  position: relative;
  user-select: none;
}
button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #e8ebeb;
  background: #2c303c;
  cursor: pointer;
  font-weight: 600;
  font-size: larger;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
button::before {
  content: "";
  inset: 0 0 auto auto;
  position: absolute;
  width: 0;
  height: 100%;
  background: rgb(71, 85, 105);
  transition: all ease-in-out 300ms;
  z-index: -1;
}
button:hover::before {
  width: 100%;
  inset: 0 auto auto 0;
}
